
<div id="knowledgeBody">
  <div class="separador"></div>

  <div id="knowledgeHeader">

    <div id="titulo3">
      <span>Conocimientos</span>
      <div class="linea"></div>
    </div>
  </div> <!-- cierre knowledgeHeader -->

  <div id="knowledgeContent">

    <div class="conocimiento">
      <a href="https://developer.mozilla.org/es/docs/Web/JavaScript" target="_blank">
        <img src="https://logodix.com/logo/374728.png" alt="">
        <h3>JS</h3>
      </a>
    </div>

    <div class="conocimiento">
      <a href="https://www.python.org/" target="_blank">
        <img src="https://logodix.com/logo/729238.png" alt="">
        <h3>Python</h3>
      </a>
    </div>

    <div class="conocimiento">
      <a href="https://dotnet.microsoft.com/es-es/languages/csharp" target="_blank">
        <img src="https://logodix.com/logo/1803732.png" alt="">
        <h3>C#</h3>
      </a>
    </div>

    <div class="conocimiento">
      <a href="https://www.java.com/es/" target="_blank">
        <img src="https://logodix.com/logo/283001.png" alt="">
        <h3>Java</h3>
      </a>
    </div>

    <!-- <div class="conocimiento">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/18/C_Programming_Language.svg/1853px-C_Programming_Language.svg.png" alt="">
      <h3>C (Básico)</h3>
    </div> -->

    <div class="conocimiento">
      <a href="https://angular.io/" target="_blank">
        <img src="https://logodix.com/logo/1998121.png" alt="">
        <h3>Angular</h3>
      </a>
    </div>

    <div class="conocimiento">
      <a href="https://www.djangoproject.com/" target="_blank">
        <img src="https://img.stackshare.io/service/994/4aGjtNQv.png" alt="">
        <h3>Django</h3>
      </a>
    </div>

    <div class="conocimiento">
      <a href="https://dotnet.microsoft.com/es-es/learn/aspnet/what-is-aspnet" target="_blank">
        <img src="https://logodix.com/logo/1796970.png" alt="">
        <h3>ASP.Net</h3>
      </a>
    </div>

    <div class="conocimiento">
      <a href="https://es.react.dev/" target="_blank">
        <img src="https://thumb.wikimedia.org/wikipedia/commons/thumb/4/47/React.svg/1280px-React.svg.png?utm_source=es.wikipedia.org&utm_campaign=index&utm_content=thumbnail" alt="">
        <h3>React (Básico)</h3>
      </a>
    </div>

    <div class="conocimiento">
      <a href="https://aws.amazon.com/es/what-is/sql/#:~:text=es%20importante%20SQL%3F-,El%20lenguaje%20de%20consulta%20estructurada%20(SQL)%20es%20un%20lenguaje%20de,los%20diferentes%20lenguajes%20de%20programación." target="_blank">
        <img src="https://logodix.com/logo/542051.png" alt="">
        <h3>SQL</h3>
      </a>
    </div>

    <div class="conocimiento">
      <a href="https://www.figma.com/" target="_blank">
        <img src="https://blog.greggant.com/images/posts/2019-04-25-figma/Figma.png" alt="">
        <h3>Figma</h3>
      </a>
    </div>

    <div class="conocimiento">
      <a href="https://helpx.adobe.com/es/xd/get-started.html" target="_blank">
        <img src="https://thumb.wikimedia.org/wikipedia/commons/thumb/c/c2/Adobe_XD_CC_icon.svg/1280px-Adobe_XD_CC_icon.svg.png?utm_source=es.wikipedia.org&utm_campaign=index&utm_content=thumbnail" alt="">
        <h3>Adobe XD</h3>
      </a>
    </div>

    <div class="conocimiento">
      <a href="https://aws.amazon.com/es/" target="_blank">
        <img src="https://d1.awsstatic.com/AWS_logo_RGB_REV.5cfa645c7141823ca904253313445bb59997aa4d.png" alt="">
        <h3>Amazon Web Services (AWS)</h3>
      </a>
    </div>

    <div class="conocimiento">
      <a href="https://redis.io/es/" target="_blank">
        <img src="https://uxwing.com/wp-content/themes/uxwing/download/brands-and-social-media/redis-icon.png" alt="">
        <h3>Redis</h3>
      </a>
    </div>

    <div class="conocimiento">
      <a href="https://railway.com/" target="_blank">
        <img style="border-radius: 50%; padding: 1px; background-color: white;" src="https://uxwing.com/wp-content/themes/uxwing/download/brands-and-social-media/railway-infrastructure-platform-icon.png" alt="">
        <h3>Railway</h3>
      </a>
    </div>
  </div>

  <div class="separador2"></div>
</div>

