<div class="separador"></div>

<div id="projectBody">
  <div id="titulo4"> <!-- Titulo -->
    <span>Mis proyectos</span>
    <div class="linea"></div>
  </div> <!-- Fin titulo2 -->

  <div class="container">
    <div class="menu">
      <ul>
        <li *ngFor="let categoria of categorias" [ngClass]="{ 'active': filtroCategoria === categoria }" class="opcionMenuProyectos">
          <a class="btn-menu" (click)="filtroCategoria = categoria; aplicarFiltro();">{{ categoria }}</a>
        </li>
      </ul>
    </div>  <!-- Fin menu -->

      <!----------------------------------------------->

    <div id="galeria">
      <figure class="box-img" *ngFor="let proyecto of proyectosFiltrados" [ngClass]="[proyecto.Categoria, proyecto.Clase]"
      [style.backgroundImage]="'url(' + proyecto.ImagenPresentacion + ')'"
      [ngStyle]="{
          '--animate-duration': '0.3s'
        }"
        (mouseenter) = "hoverCaja(1, proyecto.Nombre)"
        (click) = "mostrarModal(proyecto)">

        <!-- CONTENIDO -->
        <div class="contenido-box-img">
          <h3>{{proyecto.Nombre}}</h3>
          <hr>
          <p>{{proyecto.Descripcion_Corta}}</p>
        </div>
      </figure>
    </div> <!-- Fin galeria -->
  </div> <!-- Fin container -->

</div> <!-- Fin projectBody -->

<div class="separador2"></div>

<div id="modalProject">
  <div id="fondoModal" (click)="ocultarModal()"></div>

  <div id="modalContent">
    <!-- Cuadro para el contenido -->

    <div id="ruedaContent"></div>
    <!-- El objeto que gira atrás del contenido -->

    <button id="btnCerrarModal" (click)="ocultarModal() "><i class='bx bx-x bx-md' style="color: hsla(191, 60%, 85%, .8);"></i></button>

    <!-- Contenido real -->
    <div id="modalContentContent">
      <!-- Encabezado del contenido -->
      <div id="arribaModalProject">
        <!-- <img src="../../../assets/Portada5.png" alt=""> -->

        <swiper-container navigation="true" scrollbar="true" pagination="true" slidesPerGroup="1" slidesPerView="1" rewind="true">
          <!-- <swiper-slide>
            <img src="../../../assets/foto001.jpg" alt="">
          </swiper-slide>
          <swiper-slide>
            <img src="../../../assets/foto001.jpg" alt="">
          </swiper-slide> -->

          <swiper-slide *ngFor="let urlImagen of urlImagenes">
            <img src="{{urlImagen}}" alt="" class="imgSlider">
          </swiper-slide>

        </swiper-container>
      </div>

      <!-- ----------------------------------- -->

      <!-- Pie del contenido -->
      <div id="abajoModalProject">
        <h2 id="tituloProjectModal">
          <h3>Lorem ipsum dolor sit amet.</h3>
        </h2>
        <hr style="width: 80%; margin: 0 10%; border-color: rgb(180, 180, 255);">
        <p id="descripcionProjectModal">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus praesentium et quia eius hic amet, repellendus eaque voluptates ut quod?
        </p>

        <!-- boton de github esquina inferior derecha animacion que flota -->
        <div id="modalBotonesProject">
          <a href="" id="btnGithub" title="Ver proyecto en Github" target="_blank"><i class='bx bxl-github bx-md'></i></a>
          <a href="" id="btnWorld" title="Ver proyecto" target="_blank"><i class='bx bx-world bx-md'></i></a>
        </div>
      </div>
    </div>

  </div>
</div>

<!-- -------------------------------------------------------- -->
<!-- -------------------------------------------------------- -->
<!-- -------------------------------------------------------- -->
