/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

html.no-touch {
  overflow-x: hidden;
}

body {
  min-height: 100vh;
  background: #0C192C;
}

body::-webkit-scrollbar {
  /* background-color: #9500e220; */
  background-color: #3000F220;
  z-index: -10;
}

body::-webkit-scrollbar-thumb {
  /* background-color: #9500e230; */
  background: linear-gradient(#9500e260, #9500e230);
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

@keyframes show {
  from {
    opacity: 0;
    scale: 25%;
    transform: translateY(50px) rotate(15deg);
  }
  to {
    opacity: 1;
    scale: 100%;
    transform: translate(0) rotate(0deg);
  }
}

.box_content, .descripcion, .content, .time, .conocimiento, #iconsContent, .inputContactForm, #btnEnviarCorreo {
  view-timeline-name: --scroll;
  animation-timeline: --scroll;
  view-timeline-axis: block;
  animation-name: show;
  animation-range: entry 5% cover 20%;
  animation-fill-mode: both;
}

#titulo1, #titulo2, #titulo3, #titulo4, #titulo5, .opcionMenuProyectos, #comentarioContactos {
  view-timeline-name: --scroll;
  animation-timeline: --scroll;
  view-timeline-axis: block;
  animation-name: show;
  animation-range: entry 15% cover 60%;
  animation-fill-mode: both;
}
