#experienceBody {
  background: linear-gradient(225deg,
        rgba(0, 0, 0, .5) 0 10%,
        rgba(0, 0, 0, .43) 10% 20%,
        rgba(0, 0, 0, .36) 20% 30%,
        rgba(0, 0, 0, .29) 30% 40%,
        rgba(0, 0, 0, .22) 40% 50%,
        rgba(0, 0, 0, .29) 50% 60%,
        rgba(0, 0, 0, .36) 60% 70%,
        rgba(0, 0, 0, .43) 70% 80%,
        rgba(0, 0, 0, .50) 80% 90%,
        rgba(0, 0, 0, .57) 90% 100%);
}

.separador {
  height: 70px;
  width: 100%;

  /* margin-top: 50px; */

  position: absolute;

  background: linear-gradient(rgba(0, 0, 0, .57), rgba(0, 0, 0, 0));
}

.separador2 {
  height: 20px;
  width: 100%;

  position: absolute;

  transform: translateY(-20px);

  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .40));
}

#titulo2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 10vh;
}

#titulo2 span {
  margin-top: 18vh;
  font-weight: 500;
  font-size: 2em;
  color: #EFEFFF;

  text-align: center;
}

#titulo2 .linea {
  height: 2px;
  width: 200px;
  background-color: #EFEFFF;
}

/* ************************************************ */

.timeline {
  width: 100%;
  height: auto;

  padding: 50px 10vh;
  position: relative;

  transition: all .3s ease;
}

.lineaTimeline {
  position: absolute;
  left: 50%;
  width: 3px;
  border-radius: 5px;
  height: calc(100% - 100px);
  /* height: 100%; */

  z-index: 5;

  background-color: #4FC3DC;
  /* background: linear-gradient(90deg, #4FC3DC, #9500e2); */
}

/*7:55*/

.timeline ul {
  margin: 0;
  padding: 0;
}

.timeline ul li {
  list-style: none;
  position: relative;
  width: 50%;
  padding: 20px 40px;
  box-sizing: border-box;

  transition: all .3s ease;
}

.timeline ul li:nth-child(odd)
{
  float: left;
  clear: both;
  text-align: right;
}

.timeline ul li:nth-child(even) {
  float: right;
  clear: both;
  text-align: left;
}

.content {
  padding-bottom: 40px;
}

.timeline ul li:nth-child(odd)::before {
  content: '';
  position: absolute;
  top: 24px;
  right: -9px;
  width: 15px;
  height: 15px;
  background-color: #4FC3DC;
  /* box-shadow: 0 0 8px 1px #9500e2; */

  /* background: linear-gradient(90deg, #4FC3DC, #9500e2); */
  border-radius: 50%;
}

.timeline ul li:nth-child(even)::before {
  content: '';
  position: absolute;
  top: 24px;
  left: -6px;
  width: 15px;
  height: 15px;
  background-color: #4FC3DC;
  /* box-shadow: 0 0 8px 1px #9500e2; */

  /* background: linear-gradient(90deg, #4FC3DC, #9500e2); */
  border-radius: 50%;
}

.timeline ul li h3 {
  margin: 0;
  padding: 0;
  color: #4FC3DC;
  font-weight: 600;
}

.timeline ul li p {
  color: white;
  margin: 10px 0 0;
  padding: 0;
  line-height: 22px;

  text-wrap: balance;
}

.timeline ul li p i {
  color: hsl(270, 100%, 75%);
}

.timeline ul li .time h4 {
  margin: 0;
  padding: 0;
  font-size: 14px;
}

.timeline ul li:nth-child(odd) .time {
  width: calc(100% - 3rem);
  position: absolute;
  top: 12px;
  right: -100%;

  display: flex;
  justify-content: flex-start;
}

.timeline ul li:nth-child(odd) .time h4 {
  text-align: left;
  /* width: calc(100% - 3rem); */

  width: fit-content;
  transform: translateX(-10px);
  margin: 0;
  padding: 8px 16px;
  background: hsl(191, 40%, 50%);
  /* box-shadow: 0 0 3px 1px #9500e2; */
  color: white;
  border-radius: 20px;
}

.timeline ul li:nth-child(even) .time {
  width: calc(100% - 3rem);
  position: absolute;
  top: 12px;
  left: -100%;

  display: flex;
  justify-content: flex-end;
}

.timeline ul li:nth-child(even) .time h4 {
  text-align: right;
  /* width: calc(100% - 3rem); */

  width: fit-content;
  transform: translateX(10px);
  margin: 0;
  padding: 8px 16px;
  background: hsl(191, 40%, 50%);
  /* box-shadow: 0 0 3px 1px #9500e2; */
  color: white;
  border-radius: 20px;
}

@media (max-width : 730px){
  .timeline {
    padding: 50px 5vh;
  }
}

@media (max-width : 670px) {
  .timeline {
    padding: 50px 3vh;
  }
}

@media (max-width : 670px) {
  .timeline ul li h3 {
    font-size: 16px;
  }

  .timeline ul li p {
    font-size: 14px;
  }

  .timeline ul li .time h4 {
    font-size: 12px;
  }
}

@media (max-width : 550px) {
  .timeline ul li:nth-child(odd) {
    float: right;
    clear: both;
    text-align: left;
  }

  .timeline ul li:nth-child(odd)::before,
  .timeline ul li:nth-child(even)::before {
    content: '';
    top: 24px;
    left: -21px;
    /* box-shadow: 0 0 8px 1px #9500e2; */
  }

  .timeline ul li:nth-child(odd) .time,
  .timeline ul li:nth-child(even) .time {
    position: static;

    display: flex;
    justify-content: flex-start;

    margin-bottom: 10px;

    transform: translateY(-6px);
  }

  .timeline ul li:nth-child(odd) .time h4,
  .timeline ul li:nth-child(even) .time h4 {
    transform: translateX(0px);

    text-align: left;

    border-radius: 10px;
  }

  .timeline ul li {
    width: 90%;
    display: flex;
    flex-direction: column-reverse;

    padding: 20px;
  }

  .lineaTimeline {
    left: 10%;
    width: 3px;
  }
}
