<!-- <div id="experienceBody">
  <div id="experienceHeader"></div>
  <div id="experienceContent">

    <ol class="relative border-s border-gray-200 dark:border-gray-700">
      <li class="mb-10 ms-4">
        <div
          class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700">
        </div>
        <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">Mayo 2023 - Julio 2023</time>
        <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Pasante de desarrollo web Front-End (SIFSA)</h3>
        <p class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400">Desarrollo de dos sistemas para dos empresas diferentes de manera paralela (A veces en uno, y a veces en el otro). Donde mi función fue trabajar en el lado del Front-End haciendo el consumo de una API, creando las interfaces y hacerlas
        funcionales.</p>
      </li>
      <li class="mb-10 ms-4">
        <div
          class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700">
        </div>
        <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">Mayo 2022 - Noviembre 2022</time>
        <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Pasante TI (Grupo Monge)</h3>
        <p class="text-base font-normal text-gray-500 dark:text-gray-400">Desarrollo de proyectos mediante asignaciones por parte del tutor que nos han asignado. Uno de ellos fue la creación de un intermediario que consume una API cada día y almacenar los datos filtrados en un DWH.</p>
      </li>
    </ol>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.0/flowbite.min.js"></script> -->
<div class="separador"></div>

<div id="experienceBody">
  <div id="experienceHeader">

    <div id="titulo2">
      <span>Experiencia laboral</span>
      <div class="linea"></div>
    </div>
  </div>

  <!-- ------------------------------------------------------------- -->

  <div class="timeline">
    <div class="lineaTimeline"></div>

    <ul>
      <li>
        <div class="content">
          <h3>Desarrollador Backend (LAFISE)</h3>
          <p>Desarrollo para la parte funcional en los diferentes flujos para la nueva App <i>LAFISE Digital</i> donde he trabajado principalmente en todo aquello relacionado con las transacciones, mediante una metodología híbrida que incluía <i>Scrum, Extreme Programming y Kanban</i> haciendo uso de herramientas de desarrollo como <i>C#, DBeaver, Clean Architecture, AWS (Lambdas, Step Functions, Cloudwatch, Apigateway, etc...)</i> y soporte a incidencias en producción (Revisión general y Hotfixes)</p>
        </div>
        <div class="time">
          <h4>Julio 2024 - Presente</h4>
        </div>
      </li>

      <!-- ------------------------------------------------------------ -->

      <li>
        <div class="content">
          <h3>Pasante de desarrollo web (ZAFINSA)</h3>
          <p>Desarrollo de mejoras para un proyecto existente en producción que facilita el flujo de la toma de una orden para una cafetería llamada <i>Papa Otto</i>, donde hago uso del mismo y le doy mantenimiento. Además del desarrollo del mismo proyecto pero transformado en un ambiente web para una mejor <i>accesibilidad y experiencia</i> al momento de usar dicho sistema</p>
        </div>
        <div class="time">
          <h4>Mayo 2024 - Julio 2024</h4>
        </div>
      </li>

      <!-- ------------------------------------------------------------ -->

      <li>
        <div class="content">
          <h3>Pasante de desarrollo web Front-End (SIFSA)</h3>
          <p>Desarrollo de dos sistemas para dos empresas diferentes de manera paralela (A veces en uno, y a veces en el otro). Donde
          mi función fue trabajar en el lado del <i>Front-End</i> haciendo el consumo de una <i>API</i>, creando las interfaces y hacerlas
          funcionales.</p>
        </div>
        <div class="time">
          <h4>Mayo 2023 - Julio 2023</h4>
        </div>
      </li>

      <!-- ------------------------------------------------------------ -->

      <li>
        <div class="content">
          <h3>Pasante TI (Grupo Monge)</h3>
          <p>Desarrollo de proyectos mediante asignaciones por parte del tutor que nos han asignado. Uno de ellos fue la creación de
          un intermediario que consume una <i>API</i> cada día y almacenar los datos filtrados en un <i>DWH</i>.</p>
        </div>
        <div class="time">
          <h4>Mayo 2022 - Noviembre 2022</h4>
        </div>
      </li>

      <!-- --------------------------------------- -->
      <!-- --------------------------------------- -->
      <!-- --------------------------------------- -->

      <div style="clear: both;"></div>
    </ul>
  </div>
</div>

<div class="separador2"></div>
